Repository nss-day-cohort-46/reactive-nutshell-gauntlets-of-adventure-1, pull requests merged in 2021-03, with the labels that each got.

#45 Ap can add friends
  api/database.json.example
  src/components/ApplicationViews.js
  src/components/auth/Login.js
  src/components/friends/Friend.js
  src/components/friends/FriendAdd.js
  src/components/friends/FriendFinder.js
  src/components/friends/FriendList.js
  src/components/friends/FriendProvider.js
  src/components/users/User.js
  src/components/users/UserList.js
  src/components/users/UserProvider.js
Labels: Friends

#46 Bs message add friend
  src/components/ApplicationViews.js
  src/components/message/Message.css
  src/components/message/MessageCard.js
  src/components/message/MessageDetail.js
  src/components/message/MessageForm.js
  src/components/message/MessageList.js
  src/components/message/MessageProvider.js
  src/index.css
Labels: messages

#48 Ap delete friends
  src/components/friends/Friend.js
  src/components/friends/FriendProvider.js
  src/components/users/User.js
Labels: Friends

#51 Et form valid button
  src/components/ApplicationViews.js
  src/components/Home.js
  src/components/nav/NavBar.js
  src/components/news/News.css
  src/components/news/News.js
  src/components/news/NewsArticleList.js
  src/components/news/NewsCard.js
  src/components/news/NewsDetail.js
  src/components/news/NewsForm.js
  src/components/news/NewsProvider.js
  src/components/user/User.css
  src/components/user/UserCard.js
  src/components/user/UserList.js
  src/components/user/userProvider.js
Labels: enhancement

#54 Nah edit tasks
  src/components/ApplicationViews.js
  src/components/tasks/TaskCard.js
  src/components/tasks/TaskDetail.js
  src/components/tasks/TaskForm.js
  src/components/tasks/TaskList.js
  src/components/tasks/TaskProvider.js
Labels: Tasks

#53 Bs addfriend
  src/components/ApplicationViews.js
  src/components/auth/Login.js
  src/components/message/Message.css
  src/components/message/MessageCard.js
  src/components/message/MessageList.js
  src/components/message/MessageSelect.js
Labels: messages

#55 Nah edit tasks final
  src/components/ApplicationViews.js
  src/components/tasks/TaskForm.js
  src/components/tasks/TaskProvider.js
Labels: Tasks, documentation
